/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Remover decoração padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Imagens responsivas */
img {
  /* max-width: 100%; */
  display: block;
}

/* Botões herdarem fonte */
button {
  font-family: inherit;
}