.about-content {
    display: flex;
    background: var(--color-primary);
}

.about-intro {
    color: var(--color-secondary);
}

.about-title {
    color: var(--color-background);
    font-weight: 200;
}

.about-role {
    color: var(--color-secondary);
}

.about-description {
    color: var(--color-background);
}

.about-text {
    color: var(--color-background);
}

.about-description-finale {
    color: var(--color-secondary);
}

.about-text-finale {
    color: var(--color-secondary);
}